In [0]:
import pandas as pd
import numpy as np

# from google.colab import files
# uploaded = files.upload()

In [0]:
import io
df1 = pd.read_csv('/content/AIAGE_search.csv',sep=';')
df2 = pd.read_csv('/content/ERA_search.csv',sep=',')
df3 = pd.read_csv('/content/PropNex_search.csv',sep=',')
df4 = pd.read_csv('/content/IT 2019-10-18 16_47_25.csv',sep=',')
df5 = pd.read_csv('/content/Marketing&Advertising.csv',sep=',')
df6 = pd.read_csv('/content/contacts 2019-10-18 15_58_25.csv',sep=',')

df = pd.concat([df1, df2, df3,df4,df5,df6])

In [3]:
df.drop_duplicates(inplace=True)
df.head()

                    id  ...                                          Interests
0           weienthong  ...  HSBC; Jeff Weiner; Accenture; UBS; Tony Robbin...
1             amberpoo  ...  Daniel Goleman; IBM; Ray Dalio; Satya Nadella;...
2           jerome-lim  ...  Nicholas Fang; The Swift SG; GS E&C; J&P Build...
3  amanda-lim-30813254  ...  Audit/Finance/Accountant Professional; The Wal...
4          ijeremytang  ...  TEDx SINGAPORE; GREAT EASTERN; MDRT; Financial...

[5 rows x 129 columns]

In [4]:
print("Before dropping:",len(df.columns),"columns")
#drop columns with more than 60% of values missing
df.dropna(thresh = (len(df) * .4) , axis = 1, inplace = True)
#Dont drop organization columns
print("After dropping:",len(df.columns),"columns")

Before dropping: 129 columns
After dropping: 64 columns

# Spending power

In [5]:
#Get student status

df['Education End 1'][df['Education End 1'] == "PRESENT"] = 2023 #Just assume grduation date is 2023 if current student +4 years
df['Education End 1'] = df['Education End 1'].fillna(0) #Assume if no values entered, they are not student
df['Student_Status'] = (df['Education End 1'].astype(int) < 2019).astype(int)
# df['Student_status'].head()
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                    id  ... Student_Status
0           weienthong  ...              0
1             amberpoo  ...              1
2           jerome-lim  ...              1
3  amanda-lim-30813254  ...              1
4          ijeremytang  ...              0

[5 rows x 65 columns]

In [6]:
#!pip install fuzzywuzzy

from fuzzywuzzy import fuzz
from fuzzywuzzy import process

#Get highest education

data = {'School':[4,3,2,1],
        'School1':['University','Polytechnic','Junior College','Below tertiary'],
        'School2':['College','High School','','Primary']}

df_match_edu = pd.DataFrame(data)


match = list(map(lambda x: process.extractOne(x, df_match_edu['School1'], scorer=fuzz.token_set_ratio, processor=lambda x: x),df['Education 1'].astype(str).str.strip()))
match = pd.DataFrame(match)
match.columns = ['match', 'score', 'index']
df['eduscore1'] = list(match['score'])
df['edu1'] = list(df_match_edu.loc[match['index']].School)

match = list(map(lambda x: process.extractOne(x, df_match_edu['School2'], scorer=fuzz.token_set_ratio, processor=lambda x: x),df['Education 1'].astype(str).str.strip()))
match = pd.DataFrame(match)
match.columns = ['match', 'score', 'index']
df['eduscore2'] = list(match['score'])
df['edu2'] = list(df_match_edu.loc[match['index']].School)



df['eduscore'] = df[['eduscore1', 'eduscore2']].max(axis=1)
df['Education_category'] = np.where(df['eduscore1']>= df['eduscore2'], df['edu1'], df['edu2'])

Collecting fuzzywuzzy
  Downloading https://files.pythonhosted.org/packages/d8/f1/5a267addb30ab7eaa1beab2b9323073815da4551076554ecc890a3595ec9/fuzzywuzzy-0.17.0-py2.py3-none-any.whl
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.17.0

/usr/local/lib/python3.6/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [7]:
#Get years of experience by subtracting last worked time with the start of their first job 
df['Last_worked_year'] = np.NaN
df['Organization End 1'][df['Organization End 1'] == "PRESENT"] = "2019"
df['Organization End 1'] = df['Organization End 1'].str.extract('(\d+)')

df['Last_worked_year'] = df['Organization End 1']


df['First_worked_year'] = np.NaN

df['Organization Start 1'] = df['Organization Start 1'].str.extract('(\d+)')
df['Organization Start 2'] = df['Organization Start 2'].str.extract('(\d+)')
df['Organization Start 3'] = df['Organization Start 3'].str.extract('(\d+)')
df['Organization Start 4'] = df['Organization Start 4'].str.extract('(\d+)')
df['Organization Start 5'] = df['Organization Start 5'].str.extract('(\d+)')

df['First_worked_year'][df['Organization Start 1'].notnull()] = df['Organization Start 1'][df['Organization Start 1'].notnull()]
df['First_worked_year'][df['Organization Start 2'].notnull()] = df['Organization Start 2'][df['Organization Start 2'].notnull()]
df['First_worked_year'][df['Organization Start 3'].notnull()] = df['Organization Start 3'][df['Organization Start 3'].notnull()]
df['First_worked_year'][df['Organization Start 4'].notnull()] = df['Organization Start 4'][df['Organization Start 4'].notnull()]
df['First_worked_year'][df['Organization Start 5'].notnull()] = df['Organization Start 5'][df['Organization Start 5'].notnull()]

df['Last_worked_year'] = df['Last_worked_year'].fillna(0).str.extract('(\d+)')
df['First_worked_year'] = df['First_worked_year'].fillna(0).str.extract('(\d+)')

df['Working_years'] = df['Last_worked_year'].astype(float) - df['First_worked_year'].astype(float)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [0]:
# 2) Job title for spending power.

data = {'Title':[3,2,1],
        'Title1':['Director','Manager','Associate'],
        'Title2':['Partner','Supervisor','Executive']}

df_match_edu = pd.DataFrame(data)


match = list(map(lambda x: process.extractOne(x, df_match_edu['Title1'], scorer=fuzz.token_set_ratio, processor=lambda x: x),df['Title'].astype(str).str.strip()))
match = pd.DataFrame(match)
match.columns = ['match', 'score', 'index']
df['eduscore1'] = list(match['score'])
df['edu1'] = list(df_match_edu.loc[match['index']].Title)

match = list(map(lambda x: process.extractOne(x, df_match_edu['Title2'], scorer=fuzz.token_set_ratio, processor=lambda x: x),df['Title'].astype(str).str.strip()))
match = pd.DataFrame(match)
match.columns = ['match', 'score', 'index']
df['eduscore2'] = list(match['score'])
df['edu2'] = list(df_match_edu.loc[match['index']].Title)


df['Title_score'] = df[['eduscore1', 'eduscore2']].max(axis=1)
df['Title'] = np.where(df['eduscore1']>= df['eduscore2'], df['edu1'], df['edu2'])

In [0]:
# Size of company: Bigger means higher chance to get a corporate scheme/ car funds, as well as receive better remuneration

data = {'Title':[1,2,3],
        'Title1':['Munch Technologies','Shopee','AIA'],
        'Title2':['Ant Financial','Lazada','Prudential'],
        'Title3':['SG Interactive','Advisors Clique','Great Eastern']}

df_match_edu = pd.DataFrame(data)

match = list(map(lambda x: process.extractOne(x, df_match_edu['Title1'], scorer=fuzz.token_set_ratio, processor=lambda x: x),df['Organization 1'].astype(str).str.strip()))
match = pd.DataFrame(match)
match.columns = ['match', 'score', 'index']
df['eduscore1'] = list(match['score'])
df['edu1'] = list(df_match_edu.loc[match['index']].Title)

match = list(map(lambda x: process.extractOne(x, df_match_edu['Title2'], scorer=fuzz.token_set_ratio, processor=lambda x: x),df['Organization 1'].astype(str).str.strip()))
match = pd.DataFrame(match)
match.columns = ['match', 'score', 'index']
df['eduscore2'] = list(match['score'])
df['edu2'] = list(df_match_edu.loc[match['index']].Title)

match = list(map(lambda x: process.extractOne(x, df_match_edu['Title3'], scorer=fuzz.token_set_ratio, processor=lambda x: x),df['Organization 1'].astype(str).str.strip()))
match = pd.DataFrame(match)
match.columns = ['match', 'score', 'index']
df['eduscore3'] = list(match['score'])
df['edu3'] = list(df_match_edu.loc[match['index']].Title)

df['eduscore'] = df[['eduscore1', 'eduscore2']].max(axis=1)
df['edu'] = np.where(df['eduscore1']>= df['eduscore2'], df['edu1'], df['edu2'])
df['Companysize'] = np.where(df['eduscore']>= df['eduscore3'], df['edu'], df['edu3'])
df['Companysize_score'] = df[['eduscore', 'eduscore3']].max(axis=1)

# Leasing Propensity

In [0]:
#  Job scope

data = {'Title':[1,2,3],
        'Title1':['Admin','Director','Advisor'],
        'Title2':['Executive','Partner','Agent']}

df_match_edu = pd.DataFrame(data)


match = list(map(lambda x: process.extractOne(x, df_match_edu['Title1'], scorer=fuzz.token_set_ratio, processor=lambda x: x),df['Title'].astype(str).str.strip()))
match = pd.DataFrame(match)
match.columns = ['match', 'score', 'index']
df['eduscore1'] = list(match['score'])
df['edu1'] = list(df_match_edu.loc[match['index']].Title)

match = list(map(lambda x: process.extractOne(x, df_match_edu['Title2'], scorer=fuzz.token_set_ratio, processor=lambda x: x),df['Title'].astype(str).str.strip()))
match = pd.DataFrame(match)
match.columns = ['match', 'score', 'index']
df['eduscore2'] = list(match['score'])
df['edu2'] = list(df_match_edu.loc[match['index']].Title)


df['Scope_score'] = df[['eduscore1', 'eduscore2']].max(axis=1)
df['Scope'] = np.where(df['eduscore1']>= df['eduscore2'], df['edu1'], df['edu2'])

In [0]:
# predict family by age. assume higher working experience means have family. 

df['Family'] = (df['Working_years'] >= 7).astype(int)

In [0]:
# type of industry: customer facing or non-customer facing

data = {'Title':[1,0],
        'Title1':['Financial/insurance Services','Accounting'],
        'Title2':['Real Estate','Information Technology']}

df_match_edu = pd.DataFrame(data)

match = list(map(lambda x: process.extractOne(x, df_match_edu['Title1'], scorer=fuzz.token_set_ratio, processor=lambda x: x),df['Industry'].astype(str).str.strip()))
match = pd.DataFrame(match)
match.columns = ['match', 'score', 'index']
df['eduscore1'] = list(match['score'])
df['edu1'] = list(df_match_edu.loc[match['index']].Title)

match = list(map(lambda x: process.extractOne(x, df_match_edu['Title2'], scorer=fuzz.token_set_ratio, processor=lambda x: x),df['Industry'].astype(str).str.strip()))
match = pd.DataFrame(match)
match.columns = ['match', 'score', 'index']
df['eduscore2'] = list(match['score'])
df['edu2'] = list(df_match_edu.loc[match['index']].Title)


df['Industry_score'] = df[['eduscore1', 'eduscore2']].max(axis=1)
df['Industry'] = np.where(df['eduscore1']>= df['eduscore2'], df['edu1'], df['edu2'])

In [14]:
#mentioned the keywords of meeting, clients, connecting, plan , insurance,travel, sales in their profile

keywords = ['meeting','clients','connecting','plan','insurance','travel']

import gensim.downloader as api
from gensim.models.keyedvectors import KeyedVectors

model = KeyedVectors.load_word2vec_format('/content/glove.6B.50d.txt', binary=False)

/usr/local/lib/python3.6/dist-packages/smart_open/smart_open_lib.py:398: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [15]:
df['Summary'].fillna("",inplace=True)
df['Profile_similarity'] = np.NaN

prof_sim = []
for sent in df['Summary']:
  average_similarity = 0
  word_count = 1
  avg_sim = 0
  for word in sent:
    max_sim = 0
    word_count += 1
    for kword in keywords:
      if word in model.vocab and kword in model.vocab:
        if model.similarity(word,kword) > max_sim:
          max_sim = model.similarity(word,kword)
    
    avg_sim += max_sim
  
  avg_sim /= word_count
  prof_sim.append(avg_sim)  

df['Profile_similarity'] =  pd.Series(prof_sim)

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

In [16]:

df_final = df[['id','Full name','Profile url','Location','Title','Companysize','Working_years','Student_Status','Education_category','Scope','Industry','Family','Profile_similarity']]

df_final.head()

                    id             Full name  ... Family Profile_similarity
0           weienthong          Wei En THONG  ...      0           0.320495
1             amberpoo  Poo Men Shuen, Amber  ...      0           0.339094
2           jerome-lim            Jerome Lim  ...      0           0.333927
3  amanda-lim-30813254            Amanda Lim  ...      1           0.000000
4          ijeremytang           Jeremy Tang  ...      0           0.322602

[5 rows x 13 columns]

In [17]:
from sklearn import preprocessing
mm_scaler = preprocessing.MinMaxScaler()

df_final[['Title','Companysize','Working_years','Student_Status','Education_category','Scope','Industry','Family','Profile_similarity']] = mm_scaler.fit_transform(df_final[['Title','Companysize','Working_years','Student_Status','Education_category','Scope','Industry','Family','Profile_similarity']])
df_final.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

                    id             Full name  ... Family Profile_similarity
0           weienthong          Wei En THONG  ...    0.0           0.883665
1             amberpoo  Poo Men Shuen, Amber  ...    0.0           0.934944
2           jerome-lim            Jerome Lim  ...    0.0           0.920697
3  amanda-lim-30813254            Amanda Lim  ...    1.0           0.000000
4          ijeremytang           Jeremy Tang  ...    0.0           0.889472

[5 rows x 13 columns]

In [0]:
df_final.to_csv('linkedin_processed.csv')